# **SubQueries**

                                                   
Basic Level

1) Retrieve the names of employees who earn more than the average salary of all employees.

Ans:  SELECT name
FROM employee
WHERE salary > (SELECT AVG(salary) FROM employee);


2) Find the employees who belong to the department with the highest average salary.

Ans: SELECT name
FROM employee
WHERE department_id = (
    SELECT department_id
    FROM employee
    GROUP BY department_id
    ORDER BY AVG(salary) DESC
    LIMIT 1
);

3) List all employees who have made at least one sale.

Ans: SELECT name
FROM employee
WHERE emp_id IN (SELECT emp_id FROM sales);

4) Find the employee with the highest sale amount.

Ans: SELECT name
FROM employee
WHERE emp_id = (
    SELECT emp_id
    FROM sales
    ORDER BY sale_amount DESC
    LIMIT 1
);

5)Retrieve the names of employees whose salaries are higher than Shubham’s salary.

Ans: SELECT name
FROM employee
WHERE salary > (
    SELECT salary
    FROM employee
    WHERE name = 'Shubham'
);

Intermediate Level

1) Find employees who work in the same department as Abhishek.

Ans: SELECT name
FROM employee
WHERE department_id = (
    SELECT department_id
    FROM employee
    WHERE name = 'Abhishek'
);

2) List departments that have at least one employee earning more than ₹60,000.

Ans: SELECT DISTINCT department_id
FROM employee
WHERE salary > 60000;

3) Find the department name of the employee who made the highest sale.

Ans: SELECT department_name
FROM department
WHERE department_id = (
    SELECT department_id
    FROM employee
    WHERE emp_id = (
        SELECT emp_id
        FROM sales
        ORDER BY sale_amount DESC
        LIMIT 1
    )
);

4) Retrieve employees who have made sales greater than the average sale amount.

Ans: SELECT DISTINCT name
FROM employee
WHERE emp_id IN (
    SELECT emp_id
    FROM sales
    WHERE sale_amount > (SELECT AVG(sale_amount) FROM sales)
);

5) Find the total sales made by employees who earn more than the average salary.

Ans: SELECT SUM(sale_amount)
FROM sales
WHERE emp_id IN (
    SELECT emp_id
    FROM employee
    WHERE salary > (SELECT AVG(salary) FROM employee)
);


ADVANCED LEVEL

1) Find employees who have not made any sales.

Ans: SELECT name
FROM employee
WHERE emp_id NOT IN (SELECT emp_id FROM sales);

2) List departments where the average salary is above ₹55,000.

Ans: SELECT department_id
FROM employee
GROUP BY department_id
HAVING AVG(salary) > 55000;

3) Retrieve department names where the total sales exceed ₹10,000.

Ans: SELECT department_name
FROM department
WHERE department_id IN (
    SELECT e.department_id
    FROM employee e
    JOIN sales s ON e.emp_id = s.emp_id
    GROUP BY e.department_id
    HAVING SUM(s.sale_amount) > 10000
);

4) Find the employee who has made the second-highest sale.

Ans: SELECT name
FROM employee
WHERE emp_id = (
    SELECT emp_id
    FROM sales
    ORDER BY sale_amount DESC
    LIMIT 1 OFFSET 1
);


5) Retrieve the names of employees whose salary is greater than the highest sale amount recorded.

Ans: SELECT name
FROM employee
WHERE salary > (SELECT MAX(sale_amount) FROM sales);